@model List<domain.DomainModels.Project>
@using domain.DomainModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<domain.Identity.AppUser> SignInManager
@inject UserManager<domain.Identity.AppUser> UserManager
<style>
    .profile-image {
        height: 320px;
    }

    .project-image {
        height: 220px;
    }
</style>
<div class="container-fluid rounded mt-2 col-12">
    <div class="row mt-2 pb-3 col-12 justify-content-md-center">
        @foreach (Project p in Model)
        {
            <div class="card col-2 border border-dark rounded mr-2 mb-2">
                <img class="card-img-top project-image zoomInImages mb-0 mt-1 img-thumbnail" src="@p.MainImage.ImagePath">
                <div class="card-body mt-0 p-1">
                    <h5 class="card-title text-center mt-0">@p.Name</h5>
                    <div class="row">

                        @if (SignInManager.IsSignedIn(User))
                        {
                        <div class="col-6">
                            <p class="card-text btn btn-primary btn-block mt-1 col-12">Likes: @p.LikedByUsers.Count</p>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-success btn-block mt-1 col-12" href="/Project/View/@p.Id">View</a>
                        </div>


                        }
                        else
                        {
                            <p class="card-text btn btn-primary btn-block mt-1 col-12">Likes: @p.LikedByUsers.Count</p>
                        }

                    </div>
                </div>
            </div>
        }

    </div>
</div>