<div class="container border border-dark rounded col-6 mt-5">
    <div class=" whiteBg text-center">
        <h1 >Administrator Panel</h1>
        <hr />
        <a  class="btn btn-primary btn-lg btn-block" href="/Admin/CleanTemp">Clean Temp Folder</a><br />
        <a  class="btn btn-primary btn-lg btn-block" href="/Admin/ShowAllSoftware">Manage Software</a><br />
    </div>
</div>