@model List<domain.DomainModels.Software> 
@using domain.DomainModels
<div class="container border border-dark rounded col-8">
    <h2 class="text-center mt-2">Show all software that is available for users to choose</h2>
    <hr />
    <table style="width:100%;" class="tabela">
        <thead>
            <tr>
                <th style="width:40%;">Software Name</th>
                <th style="width:40%;">Software Logo</th>
                <th style="width:20%;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Software s in Model)
            {
                <tr>
                    <td>@s.Name</td>
                    <td><img class="thumbnail otherImages zoomInImages" alt="@s.Name Logo" , src="@s.Logo.ImagePath" style="width:75px;height:75px;" /></td>
                    <td><a href="/Admin/DeleteSoftware/@s.Id" class="btn btn-danger">X</a></td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <div class="row mb-2">
        <div class="col-6">
            <a href="/Admin/AddSoftware" class="btn btn-success btn-lg btn-block">Add a new Software</a>
        </div>
        <div class="col-6">
            <a href="/Admin" class="btn btn-primary btn-lg btn-block">Back to Administrator Panel</a>
        </div>
        </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".tabela").DataTable({
                "columns": [
                    { "name": "name", "orderable": false },
                    { "name": "picture", "orderable": false },
                    { "name": "delete", "orderable": false }
                ],
                "ordering": false,
                "bLengthChange": false,
                "searching": false,
                "pageLength": 4,
                "bInfo": false
            });
            $("#newSearchPlace").html($(".dataTables_filter"));
        });
        $("#DataTables_Table_0_paginate").addClass(["text-center", "col-12"]);
    </script>
}