@{
    ViewData["Title"] = "Home Page";
}

<div class="container border border-dark rounded mt-5">
    <h1 class="text-center mt-2">3D Journal</h1>
    <h2 class="text-center">Statistics Panel</h2>
    <h3 class="text-center">Imports and Exports</h3>
    <hr class="mb-5"/>
    <a class="btn btn-primary btn-block btn-lg mb-5" href="/Software">Export Projects Filtered by Software</a>
    <a class="btn btn-primary btn-block btn-lg mb-5" href="/User/Export">Export User Information as PDF</a>
    <a class="btn btn-primary btn-block btn-lg mb-5" href="/User/Import">Import Users from an Excel File</a>
</div>
